;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Apr 23 17:22:40 2011
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/Kris/emacs-config/config/90-global.el"
  "90-global.el"
  'emacs-lisp-mode
  '(yas/minor-mode)
  2810
  '(1949 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

